.lsp-completer-theme-material .jp-Completer-icon svg {
  position: relative;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
}

.lsp-completer-theme-material .jp-Completer-item.jp-mod-active svg path {
  fill: white;
}

body[data-lsp-completer-layout='detail-below'] .jp-Completer-item {
  --lsp-completer-label-height: 24px;
  --lsp-completer-detail-height: 20px;
  --lsp-completer-icon-width: 16px;
  height: var(--lsp-completer-label-height);
  display: grid;
  grid-template-areas:
    'icon label'
    'detail detail';
  grid-template-columns: min-content 1fr;
}

body[data-lsp-completer-layout='detail-below']
  .jp-Completer-item.jp-mod-active {
  height: calc(
    var(--lsp-completer-detail-height) + var(--lsp-completer-label-height)
  );
}

body[data-lsp-completer-layout='detail-below'] .jp-Completer-icon {
  grid-area: icon;
  width: var(--lsp-completer-icon-width);
}

body[data-lsp-completer-layout='detail-below'] .jp-Completer-match {
  grid-area: label;
  overflow: hidden;
  height: var(--lsp-completer-label-height);
}

body[data-lsp-completer-layout='detail-below'] .jp-Completer-typeExtended {
  grid-area: detail;
  text-align: left;
  padding-left: calc(var(--lsp-completer-icon-width) + 8px);
  height: var(--lsp-completer-detail-height);
  line-height: var(--lsp-completer-detail-height);
  display: none;
  position: relative;
  top: -2px;
  overflow: hidden;
  max-width: 500px;
}

body[data-lsp-completer-layout='detail-below']
  .jp-Completer-item.jp-mod-active
  .jp-Completer-typeExtended {
  display: block;
}
