.eggs
.mypy_cache
.pytest_cache
.yarn-packages
**/_*.d.ts
**/.ipynb_checkpoints
**/*.egg-info
**/build
**/dist
**/labextensions
**/lib
**/node_modules
**/package.json
**/static
atest
coverage
docs/_build
docs/_templates
docs/api
envs
htmlcov
node_modules
tests/**/coverage
requirements/github-actions.yml
