.eggs/
.mypy_cache
.pytest_cache
.venv/
**/_*.d.ts
**/.ipynb_checkpoints
**/*.egg-info
**/build
**/dist
**/labextensions
**/lib
**/node_modules
**/static
atest/
build/
coverage
dist/
docs/_build
docs/_templates
docs/api
envs/
lib/
