.eggs
.mypy_cache
.pytest_cache
.yarn-packages
**/_*.d.ts
**/.ipynb_checkpoints
**/*.egg-info
**/build
**/dist
**/lib
**/node_modules
**/package.json
**/static
atest
coverage
dev_mode/index.js
dev_mode/schemas
dev_mode/static
dev_mode/themes
dev_mode/workspaces
docs/_build
docs/_templates
docs/api
envs
examples/app/build
examples/app/schemas
examples/app/themes
htmlcov
jupyterlab/geckodriver
jupyterlab/schemas
jupyterlab/staging/index.js
jupyterlab/staging/yarn.js
jupyterlab/themes
node_modules
tests/**/coverage
