@import url('./highlight.css');

.lsp-document-locator:hover {
  cursor: pointer;
}

.lsp-document-locator span:not(:last-child)::after {
  content: ' > ';
}

.lsp-completer-theme-material .jp-Completer-icon svg {
  position: relative;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
}

.lsp-completer-theme-material .jp-Completer-item.jp-mod-active svg path {
  fill: white;
}

.lsp-completer-theme-vscode .jp-Completer-icon svg {
  position: relative;
  top: 2px;
  left: 2px;
}

.lsp-completer-theme-vscode .jp-Completer-item.jp-mod-active svg path {
  fill: white;
}

.lsp-completer-theme-vscode .jp-Completer-typeExtended {
  visibility: hidden;
}

.lsp-completer-theme-vscode
  .jp-Completer-item.jp-mod-active
  .jp-Completer-typeExtended {
  visibility: visible;
}

.lsp-completer-icon-row {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.lsp-completer-themes .lsp-licence {
  display: inline;
}

.lsp-completer-themes ul {
  list-style: none;
  padding-left: 10px;
}

.lsp-completer-theme-icons {
  margin-left: 10px;
}
