#site-navigation h1.site-logo {
  display: none;
}

table.langservers thead th {
  text-align: center !important;
}

table.langservers tbody td,
table.langservers tbody th {
  text-align: left !important;
}

table.langservers tbody ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
