.jp-LSPCompletion-Config {
  display: flex;
  flex-direction: column;
  padding: var(--jp-notebook-padding);
}

.jp-LSPCompletion-Config > div {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}

.jp-LSPCompletion-Config header {
  min-width: 100%;
}

.jp-LSPCompletion-Config section {
  flex: 1;
  overflow-y: auto;
  max-height: 80vh;
  min-width: 25vw;
}
