.jp-RenderedHTMLCommon .jp-LSPCompletion-Config h1 {
  padding-top: 0;
  margin-top: 0;
}
.jp-LSPCompletion-Config {
  display: flex;
  flex-direction: row;
  padding: var(--jp-notebook-padding);
}

.jp-LSPCompletion-Config > div {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-height: 100%;
}

.jp-LSPCompletion-Config header {
  max-width: 400px;
  min-width: 200px;
  flex: 1;
}

.jp-LSPCompletion-Config article {
  flex: 1;
  overflow-y: auto;
  max-height: 100%;
}
