.lsp-completer-themes .lsp-licence {
  display: inline;
}

.lsp-completer-themes ul {
  list-style: none;
  padding-left: 10px;
}

.lsp-completer-theme-icons {
  margin-left: 10px;
}

.lsp-completer-icon-row {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

/* a workaround for scrollbars being always on in the completer documentation panel, see
 https://github.com/krassowski/jupyterlab-lsp/pull/322#issuecomment-682724175
 */
.jp-Completer-docpanel {
  overflow: auto;
}

.lsp-completer-placeholder:after {
  content: 'Loading...';
  color: #7f7f7f;
}
