.lsp-completer-themes .lsp-licence {
  display: inline;
}

.lsp-completer-themes ul {
  list-style: none;
  padding-left: 10px;
}

.lsp-completer-theme-icons {
  margin-left: 10px;
}

.lsp-completer-icon-row {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

/* a workaround for scrollbars being always on in the completer documentation panel, see
 https://github.com/krassowski/jupyterlab-lsp/pull/322#issuecomment-682724175
 */
.jp-Completer-docpanel {
  overflow: auto;
}

.jp-Completer-match {
  max-width: 400px;
  overflow-x: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

.jp-mod-active .jp-Completer-match {
  max-width: 600px;
  white-space: break-spaces;
  height: auto;
}

.lsp-completer-placeholder:after {
  content: 'Loading...';
  color: #7f7f7f;
}

/* a workaround for code being larger font size than text in markdown-rendered panel */
.jp-Completer-docpanel pre code {
  font-size: 90%;
}
