.lsp-completer-theme-vscode .jp-Completer-icon svg {
  position: relative;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
}

.lsp-completer-theme-vscode .jp-Completer-item.jp-mod-active svg path {
  fill: white;
}

.lsp-completer-theme-vscode .jp-Completer-typeExtended {
  color: transparent;
}

.lsp-completer-theme-vscode
  .jp-Completer-item.jp-mod-active
  .jp-Completer-typeExtended {
  color: inherit;
}
